version : "3.5"
services:
  go-course-web:
    container_name: go-course-web
    build:
      context: "./.docker/mysql"
      dockerfile: Dockerfile
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: database-keep-notes
    ports:
      - "3320:3306"
    volumes:
      - ./.dockers/mysql/init.sql:/docker-entrypoint-initdb.d/init.sql
    